@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.left__section,
.right__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding: 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.purple {
  color: #6415ff;
}

h5 {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

h2 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

p {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  color: #f7fafc;
  font-weight: 600;
  letter-spacing: 0.025em;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 999px;
  transition: all 300ms ease;
}
.btn:hover {
  color: #f7fafc;
  background-color: #440eb0;
  text-decoration: none;
}



/* 
NAVIGATION 
*/

nav {
  height: 44px;
}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}
.nav__logo {
  height: 40px;
}
.nav__right {
  display: flex;
  align-items: center;
}
.nav__list {
  list-style-type: none;
}
.nav__link {
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  margin: 24px;
}
.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
}
.nav__login {
  margin-left: 24px;
}
.nav__signup {
  color: #f7fafc;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 999px;
  margin: 0;
  transition: all 300ms ease;
}
.nav__signup:hover {
  color: #f7fafc;
  background-color: #440eb0;
  text-decoration: none;
}

.nav__menu--open {
  background-color: transparent;
  border: none;
  font-size: 24px;
  display: none;
}

.menu--open .menu__backdrop {
  display: flex;
}

/* MENU BACKDROP */
.menu__backdrop {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.257);
  border-radius: 8px;
  padding: 32px;
  margin: 24px 16px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__menu--close {
  position: absolute;
  top: 16px;
  right: 18px;
  font-size: 24px;
  background-color: transparent;
  border: none;
}

.menu__links {
  text-align: center;
}

.menu__list {
  line-height: 2;
  margin: 8px 0;
  padding-bottom: 4px;
}

.menu__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.025em;
}
.menu__link:hover {
  color: #6415ff;
  text-decoration: underline;
}

.menu__signup {
  color: #f7fafc;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 999px;
  margin-top: 0;
  transition: all 300ms ease;
}
.menu__signup:hover {
  color: #f7fafc;
  background-color: #440eb0;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .nav__right {
    display: none;
  }
  .nav__menu--open {
    display: block;
  }
}

/*

HEADER

*/

.header__description {
  width: 40%;
}

.header__img2--wrapper {
  width: 60%;
}

.header__img2 {
width: 100%;
}

.header__h1 {
  font-size: 48px;
  color: #1a202c;
  font-weight: 700;
  line-height: 1.25;
}

.header__para {
  color:#243e63;
  font-size: 18px;
  padding: 32px 0;
  line-height: 1.5;
}

.email__input {
  border: 2px solid gray;
  opacity: 0.25;
  border-radius:99px;
  padding: 20px 192px 20px 32px;
  background-color: white;
  z-index: 10;
  position: absolute;
}
.email__button {
  position: relative;
  top: 10px;
  left: 225px;
  z-index: 20
}

.two_column__p--figure {
  margin-top: 80px;
}
.our_trusted_customers {
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.header__img1 {
  width: 100%;
  opacity: 0.5;
}
.header__img1--wrapper {
  margin: 16px 0 0;
  padding-right: 128px;
}

@media (max-width: 1280px) {
  .header__h1 {
    font-size: 36px;
  }
 
  .header__para {
    font-size: 16px;
  }
 
  .header__img2--wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .header__img2 {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  .header__center {
    display: flex;
    flex-direction: column;
  }

  .header__description {
    width: 512px;
    display: flex;
    flex-direction: column;
  }

  .header__h1,
  .header__para,
  .two_column__p--figure {
    text-align: center;
  } 

  .header__h1 {
    font-size: 30px;
  }

  .header__para {
    font-size: 16px;
  }

  .email__form {
    display: flex;
    justify-content: center;
  }

  .email__button {
    position: relative;   
    left: 110px;     
  }

  .header__img1--wrapper {
    padding: 0;
  }

  .header__img2--wrapper {
    padding: 0;
  }

  .header__img2 {
    width: 100%;
    margin-bottom: 24px;
  }
}

@media (max-width: 640px) {
  

  .email__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .email__input {
    position: static;
    width: 100%;
    max-width: 448px;
    margin-bottom: 8px;
  }

  .email__button {
    position: static;
    width: 100%;
    max-width: 448px;
    font-size: 16px;
    padding: 16px;
  }

  .our_trusted_customers {
    font-size: 14px;
  }

  .header__img2--wrapper {
    width: 100%;
  }
  .header__img2 {
    width: 100%;
  }
}

/*

FEATURES

*/

.features__h5 {
  margin-bottom: 16px;
}

.features__h2 {
  text-align: center;
}

.features__para {
  width: 100%;
  max-width: 576px;
  font-size: 18px;
  text-align: center;
  margin-top: 16px;
}

.services {
 width: 100%;
 max-width: 1024px;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin-top: 32px;
}

.service {
  width: 100%;
  max-width: 309px;
  margin: 0 auto;
  padding: 32px 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.features__i--container {
  font-size: 24px;
  border: 1px solid #a0aec087;
  border-radius: 999px;
  padding: 20px;
  color:#6415ff;
}

.service__text--container {
  width: 100%;
  max-width: 199px;
  margin: 8px 0 0;
}

.service__title {
  color:#243e63;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

.service__description {
  line-height: 2;
  margin-top: 16px;
}

@media (max-width: 1024) {
  .features__para {
    font-size: 16px;
  }

}

@media (max-width: 640px) {
  .features__h2 {
    font-size: 36px;
  }

  .features__para {
    font-size: 14px;
  }

  .services {
    text-align: center;
  }

  .service {
    display: block;
  }

  .features__i--container {
    max-width: 70px;
    text-align: center;
  }

  .service__text--container {
    width: 100%;
    max-width: none;
  }
}

/*

QUALITY WORK

*/

.quality_work--left {
  gap: 50px;
}

.quality_work--h2 {
  margin-top: 16px;
}

.quality_work--para {
  font-size: 18px;
  margin-top: 16px;
}

.learn_more--button {
  margin-top: 32px;
}

.quality_work--description {
  width: 50%;
}

.quality_work__img1 {
  width: 100%;
}

.quality_work__img1--wrapper {
  width: 50%;
  border: 1px solid rgba(211, 211, 211, 0.532);
  border-radius: 8px;
}

@media (max-width: 1024px) {

  .quality_work--left {
    gap: 50px;
  }
  
  .quality_work--h2 {
    font-size: 36px;
  }

  .learn_more--button--wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 760px) {
  .quality_work--row {
    width: 100%;
    max-width: 448px;
    margin: 0 auto;
  }
  
  .quality_work--center {
    display: flex;
    flex-direction: column-reverse;
  }

  .quality_work--h2,
  .quality_work--h5,
  .quality_work--para {
    text-align: center;
  }

  .quality_work--para {
    font-size: 14px;
  }

  .quality_work--description {
    width: 100%;
  }

  .quality_work__img1--wrapper {
    width: 100%;
  }
}

/*

STEPS

*/

.steps__right {
  gap: 50px;
}

.steps__description {
  width: 50%;
  margin: 32px 0;
}

.steps__img1--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__img1 {
  width: 100%;
}

.steps__h2 {
  margin-top: 16px;
}

.steps {
  margin-top: 32px;
}

.step {
  display: flex;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__text--container {
  margin-left: 24px;
  width: 100%;
  max-width: 320px;
}

.step__title {
  color: #243e62;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.step__para {
  color: #718096;
  font-size: 14px;
  margin-top: 12px;
}

@media (max-width: 1024px) {
  .steps__right {
    display: flex;
    flex-direction: row;
  }
 
  .steps__h2 {
    font-size: 36px;
  }
}

@media (max-width: 760px) {
  
  .steps__right {
    display: flex;
    flex-direction: column;
  }

  .steps__img1--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .steps__description {
    width: 100%;
  }

  .steps__h5,
  .steps__h2,
  .step__title,
  .step__para {
    text-align: center;
  }

  .step {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .step__text--container {
    width: 100%;
    max-width: 448px;
    margin-left: 0;
    margin-top: 12px;
  }

}

/*

VALUES 

*/

.values__description {
  width: 50%;
}

.values__img1 {
  width: 100%;
}

.values__img1--wrapper {
  width: 50%;
}

.values__left {
  gap: 50px;
}

.values__h2 {
  margin-top: 16px;
}

.values__para {
  font-size: 18px;
  margin-top: 32px;
}

.affordable__professionalism {
  display: flex;
}

.affordable {
  margin: 32px 32px 0 0;
}

.i__title {
  display: flex;
  align-items: center;
}

.i__wrapper {
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
}

.affordable__i--wrapper {
  background-color: rgb(154 230 180);
}

.professionalism__i--wrapper {
  background-color: rgb(254 178 178);
}

.aff__pro--para {
  color: #718096;
  font-size: 16px;
  line-height: 1.625;
  margin-top: 16px;
}

.profesionalism {
  margin-top: 32px;
}

.affordable__title,
.professionalism__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.values__learn_more--button {
  margin-top: 48px;
}

@media (max-width: 1024px) {
  .values__left {
    display: flex;
    flex-direction: row;
  }

  .values__h2 {
    font-size: 36px;
  }

  .values__para {
    font-size: 16px;
  }

  .affordable__professionalism {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 288px;
  }

}

@media (max-width: 760px) {
  .values__center {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .values__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .i__title {
    display: flex;
    justify-content: center;
  }

  .values__description,
  .values__img1--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .values__para {
    font-size: 14px;
  }

  .affordable {
    margin-right: 0;
  }

  .affordable__professionalism {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
  }

}

/*

PRICING

*/

.pricing__description {
  text-align: center;
  margin-top: 40px;
}

.pricing__h2 {
  margin-top: 16px;
}

.pricing__para {
  font-size: 18px;
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  margin-top: 16px;
}

.plans {
  width: 100%;
  display: flex;  
}

.plan {
  width: calc(100% / 3);
  margin: 64px 32px 0 0;
}

.highlight {
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.highlight__personal {
  background-image: linear-gradient(to right, rgb(56, 178, 172) , rgb(129, 230, 217));
}

.highlight__business {
  background-image: linear-gradient(to right, rgb(76, 81, 191) , rgb(102, 126, 234));
}

.highlight__enterprise {
  background-image: linear-gradient(to right, rgb(245, 101, 101) , rgb(254 , 178 , 178))
}

.box1, .box2, .box3 { 
  border: 1px solid rgba(128, 128, 128, 0.259);
  line-height: 1.625;
  text-align: center;
  padding: 32px;
}

.box3 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.business__box {
  background-image: linear-gradient(to right, rgb(76, 81, 191) , rgb(102, 126, 234));
}

.name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
}

.duration {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.main_feature {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.feature {
  color: #718096;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.white {
  color: #f7fafc;
}

.personal__button,
.business__button,
.enterprise__button {
  font-size: 14px;
  padding: 16px 32px;
  width: 100%;
  max-width: 192px;
}

.personal__button {
  background-image: linear-gradient(to right, rgb(56, 178, 172) , rgb(129, 230, 217));
}

.business__button {
  color: #6415ff;
  background-color: #f7fafc;
}
.business__button:hover {
  color: #6415ff;
  background-color: #d7d9db;

}

.enterprise__button {
  background-image: linear-gradient(to right, rgb(245, 101, 101) , rgb(254 , 178 , 178))
}

.values__button:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px rgb(0,0,0,0.16);
}

@media (max-width: 1024px) {
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan {
    width: 100%;
    max-width: 384px;
    margin-right: 0;
  }
}

@media (max-width: 760px) {
  .pricing__para {
    font-size: 14px;
  }


}

/*

TESTIMONIALS

*/

.testimonials__right {
  gap: 50px;
}

.test__img1 {
  width: 100%;
}

.test__img1--wrapper {
  width: 50%;
}

.test__description {
  width: 50%;
}

.test__h2 {
  margin-top: 16px;
}

.test__para {
  font-size: 18px;
  margin-top: 24px;
}

.star__container {
  color: rgb(243, 207, 4);
  margin-top: 48px;
}

.customer__h3 {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
}

.customer__para {
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  margin: 16px 0 40px;
}

.customer__info--controls {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.customer__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.customer__picture {
  width: 100%;
}
.customer__picture--wrapper {
  width: 80px;
  height: 80px;
}

.customer__name {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
}

.customer__founder {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
}

.customer__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow--button {
  color: #6415ff;
  font-size: 16px;
  padding: 16px;
  margin: 0 12px;
  border: none;
  border-radius: 50%;
  background-color: #edf2f7;
}
.arrow--button:hover {
  color: #854af9;
  transform: scale(1.1);
}

.divider {
  font-size: 24px;
  opacity: 0.2;
}

@media (max-width: 1024px) {
  .test__h2 {
    font-size: 36px;
  }
}

@media (max-width: 760px) {
  .testimonials__right {
    display: flex;
    flex-direction: column;
  }

  .test__img1--wrapper {
    width: 100%;
    max-width: 448px;
    margin: 0 auto;
  }

  .test__description {
    width: 100%;
    max-width: 448px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

@media (max-width: 640px) {
  .customer__left,
  .customer__info--controls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .customer__left {
    text-align: center;
  }

  .customer__right {
    margin-top: 32px;
  }
}

/*

GET STARTED

*/

.get_started--box {
  background-color: #6415ff;
  height: 282px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get_started--container {
  height: 90px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.get_started--h5 {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
}

.get_started--left {
  display: flex;
  align-items: center;
  width: 50%;
}

.get_started--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.get_started--button,
.contact_us--button {
  font-size: 16px;
  padding: 20px 40px;
}

.get_started--button {
  background-color: #f65656;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  margin-right: 32px;
}
.get_started--button:hover {
  background-color: #ff3a3a;
}

.contact_us--button {
  border: 1px solid rgb(160 174 192);
}
.contact_us--button:hover {
  background-color: rgb(238, 238, 238);
  color:#6415ff;
}

@media (max-width: 1024px) {

  .get_started--box {
    height: 332px;
  }
  .get_started--container {
    display: flex;
    flex-direction: column;
  }

  .get_started--left,
  .get_started--right {
    text-align: center;
    width: 100%;
    max-width: 512px;
  }

  .get_started--right {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

@media (max-width: 640px) {
  .get_started--right {
    display: flex;
    flex-direction: column;
  }

  .get_started--h5 {
    font-size: 24px;
  }

  .get_started--button {
    font-size: 14px;
    margin: 24px 0 0 0;
  }

  .contact_us--button {
    margin-top: 16px;
    font-size: 14px;
  }
}
